<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ts_customshipping</name>
	<displayName><![CDATA[TS Custom Shipping]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Allows a custom shipping price to be set in the backend (for manual orders)]]></description>
	<author><![CDATA[Barbara Leth]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
</module>
